img#server-svg {
    height: 19px;
    width: 19px;
    object-fit: contain;
}
select#templateSelector {
    display: none;
}
#server-name {
    text-align: center;
    color: #999999;
}
.admin-content-title {
    line-height: 1;
    margin-bottom: 20px;
}
div#server-div {
    display: flex;
    height: 19px;
    gap: 5px;
    place-content: center;
}

.sites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(auto, 300px));
    gap: 20px;
    padding-bottom: 200px;
    place-content: start center;
}
h2.sites-name {
    background: white;
    padding-bottom: 15px;
    font-size: 33px;
    font-weight: 200;
}
.sites-items{
    position: relative;
    background: white;
    padding: 0px;
    border-radius: 10px;
    display: grid;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    
}
.sites-subtitle {
    grid-column: 1 / -1;
    padding: 0px 0px;
    display: flex;
    grid-gap: 20px;
    place-items: center;
}
.sites-add {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.sites-cta {
    padding: 25px;
    background: white;
    display:grid;
    gap:5px;
}
.sites-content {
    display: grid;
    gap: 1px;
    border-radius: 10px;
    overflow: hidden;
    
}
img.sites-icon {
    width: 100px;
    height: 100px;
}
button.sites-edit {
    background:#f1f1f1;
    width: auto;
    height: 35px;
    border: none;
    color: #8a8a8a;
    border-radius: 7px;
    max-width: 150px;
    padding: 0 15px;
}
button.sites-domain {
    background: #f1f1f1;
    width: auto;
    height: 35px;
    border: none;
    color: #8a8a8a;
    border-radius: 7px;
    max-width: 150px;
    padding: 0 15px;
}
button.sites-delete {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    margin: 10px;
    padding: 7px;
    box-sizing: border-box;
    width: 35px;
    height:35px;
    border-radius: 50%;
    border:none;
    display: none;
}
p.sites-name {
    font-size: 14px;
    color: #909090;
    background: white;
    padding: 5px;
}
.sites-modal-content {
    display: grid;
    padding: 20px 40px;
    gap: 10px;
    text-align: center;
    font-size: 16px;
}
.sites-modal-header {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
    height: 50px;
    place-content: center;
    background: white;
    border-bottom: 1px solid #dddddd;
    display: grid;
}
.sites-modal-content input {
    border: 1px solid #c6c6c6;
    height: 35px;
    padding:10px;
}
p.help {
    text-align: left;
    margin: 0!important;
    padding: 0!important;
    color: #cccccc;
}
button#createRepoButton {
    height: 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
input#inputDescriptionValue {
    display: none;
}

div#deleteBox {
    position: fixed;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}
.deleteContent {
    padding: 35px;
    background: #f2f2f2;
    display: grid;
    grid-template-columns: 250px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
form#btnBox {
    display: grid;
    gap: 0px;
}
input#checkText {
    padding: 10px;
    border: none;
}
button#deleteBtn {
    background: red;
    padding: 10px;
    border: none;
    color: white;
}
span#numberID {
    font-weight: 600;
    color: #F44336;
    text-decoration: underline;
    text-underline-position: under;
}
div#deleteBox {
    position: fixed;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.deleteContent {
    position: relative;
    width: auto;
    padding: 25px;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    z-index: 5;
    line-height: 1;
}
form#btnBox {
    display: grid;
    gap: 0px;
}
input#fileInput {
    padding: 10px;
    border: none;
    border: 1px solid #c6c6c6;
}
button#deleteFile {
    background: red;
    padding: 10px;
    border: none;
    color: white;
}
span#fileName {
    font-weight: 600;
    color: #F44336;
    text-decoration: underline;
    text-underline-position: under;
}
a.files-add {
    display: none;
}

.sites-domain-content{
    display: grid;
    padding: 20px;
    gap: 20px;

    font-size: 14px;
}
.sites-domain-header {
    text-align: center;
    font-size: 30px;
}
.sites-domain-content input {
    border: 1px solid #c6c6c6;
    height: 35px;
    padding:10px;
}
p#message {
    font-size: 16px;
}
p#fileMessage {
    text-align: center!important;
}
select#projectOptions {
    border: 1px solid #c6c6c6;
    height: 35px;
    padding: 0 10px;
    display: none;
}
select#projectTemplates {
    border: 1px solid #c6c6c6;
    height: 35px;
    padding: 0 10px;
}
select#templateSelector{
    border: 1px solid #c6c6c6;
    height: 35px;
    padding: 0 10px;
}


p.sites-type,
p.sites-user,
p.sites-updated,
p.sites-created,
p.sites-template
{
    display: none;
}
h2.sites-title {
    background: white;
    padding-bottom: 0px;
    font-size: clamp(19px, 2vw, 24px);
    font-weight: 400;
    color: black;
}
.sites-buttons {
    margin: 20px 0px;
}

#modalNewOverlay{
    visibility:hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
#modalContent{
    visibility:hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 999999;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    background: #f2f2f2;
    overflow: hidden;
    border-radius:10px;
}
#modalNewClose {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 10px;
    height: 50px!important;
}
p.new-title,
p.delete-title {
    font-size: 25px;
    text-align:center;
}
p#fileUrl {
    display: none;
}
p#siteID,
p#siteName {
    display: none;
}
span.flip-id {
    color: red;
}
p#siteMessage {
    text-align: center;
}


.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50px;
  }
  
  .step-number {
    background-color: #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .step-label {
    font-size: 14px;
  }
  
  .stepper::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    height: 2px;
    background-color: #ddd;
    z-index: -1;
  }
  
  .step.completed .step-number {
    background-color: green;
    color: white;
  }
  span#modalNewClose img {
    filter: invert(1);
}
.sites-modal-content {
    height: 230px;
    display: grid;
    place-content: center;
}