html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/* body,html{
font-family: inherit, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */


a:hover{
    text-decoration:underline;
    text-underline-position: under;
}

.div-visible{
    visibility:visible;
}
.div-hidden{
    visibility:hidden;
}

.mobile-box{
    width:280px;
    height:200px;
}
  
.tooltip {
position: relative;
display: grid;

}

.tooltip .tooltiptext {
display: none;
visibility: hidden;
width: 120px;
background-color: black;
box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
color: #fff;
text-align: center;
padding: 10px;
position: absolute;
z-index: 9999999;
top: 10px;
left: 110%;
border-radius: 5px;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 50%;
right: 100%;
margin-top: -7px;
border-width: 7px;
border-style: solid;
border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
visibility: visible;
}


.tooltip-right {
position: relative;
display: grid;
}
.tooltip-right .tooltiptext-right {
visibility: hidden;
width: 120px;
background-color: black;
box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
color: #fff;
text-align: center;
padding: 10px;
position: absolute;
z-index: 9999999;
top: 10px;
right: 110%;
border-radius: 5px;
} 
.tooltip-right .tooltiptext-right::after {
content: "";
position: absolute;
top: 50%;
left: 100%;
margin-top: -7px;
border-width: 7px;
border-style: solid;
border-color: transparent black transparent transparent;
transform: rotate(180deg);
}
.tooltip-right:hover .tooltiptext-right {
visibility: visible;
}



a:hover{
text-decoration: underline;
}
a{
text-decoration:none;
color: inherit;
}
.editor-list-content {
background: white;
height: 200px;
min-height: 225px;
overflow: scroll;
}
.editor-list-content button {
background: white;
width: 100%;
text-align: left;
padding-left: 20px;
}

.hidden{
display:none!important;
}
.inputs-ids {
background: white;
padding: 15px;
}
div#getIds {
display: grid;
gap: 1px;
}
p#styleID-text,
p#sectionID-text,
p#elementID-text
{
width: auto;
background: white;
margin: 0;
padding: 15px;
color: black;
display: grid;
font-family: inherit;
}
button.close-button {
place-content: center!important;
position: absolute;
right: -25px;
top: -25px;
width: 50px!important;
background: red!important;
border-radius: 50%;
height: 50px!important;
}
.import-modal {

z-index: 9999;
position: fixed;
display: grid;
place-content: center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #b9b9b9;
gap: 1px;
}
.import-modal button {
background: white;
width: 175px;
height: 65px;
display: grid;
place-content: center start;
grid-template-columns: 50px auto;
align-items: center;
}

.export-modal {

z-index: 9999;
position: fixed;
display: grid;
place-content: center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #b9b9b9;
gap: 1px;
}
.export-modal button {
background: white;
width: 175px;
height: 65px;
display: grid;
place-content: center start;
grid-template-columns: 50px auto;
align-items: center;
}
.modal-content {
position: relative;
padding: 20px;
max-width: 100%;
max-height: 100%;
background-color: #fff;
}
.close-btn {
position: absolute;
top: 10px;
left: 10px;
font-size: 16px
}
.selectedInput {
display: grid;
place-content: center;
background: white;
}
div#sectionToolbar button {
background: white;
width: 50px;
height: 50px;
}
span.icon-text {
display: none;
}
button img {
width: 33px;
margin:auto;

}
button{
color:black;
margin: 0;
background: white;
border: none;
padding: 10px;


}
input.section-radio {
width: 35px;
height: 35px;
margin: 10px;
}
div#section-toolbar {
display: grid;
place-content: start center;
grid-template-columns: repeat(6,auto);
height: 72px;
background: #ebebeb;
position: sticky;
z-index: 99999999999;
width: 100%;
gap: 1px;
top: 0;

}
.section-toolbar button {
width: 50px;
height: 50px;
background: white;
}

/* .toolbar-open {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
} */


.section-toolbar {
    visibility: hidden;
    display: grid;
    gap: 1px;
    background: white;
    grid-template-columns: repeat(auto-fill, 50px);
    width: 192px;
    padding: 20px;
}
input.section-checkbox {
height: 35px;
width: 35px;
position: relative;
margin-top: 10px;
margin-right: 10px;
z-index: 9999999999;
}

/* ul {
padding-left: 20px;
} */
textarea#jscode {
min-height: calc(100vh - 50px);
border: none;
}
/* #empty-section{
display:none;
} */
img{
width: 100%;
display:grid;
}
div#title {
background: #ebebeb;
position: relative;
top: 0;
/* z-index: 9999999; */
height: 50px;
display: grid;
place-content: center;
}

div#fixed-buttons {
height: 100vh;
display: grid;
place-content: start center;
position: fixed;
top: 0;
width: 75px;
background-color: white;
/* overflow-y: scroll; */
gap: 1px;
}
div#fixed-sidebar {
    position: fixed;
    top: 0;
    width: 100px;
    display: grid;
    place-content: start center;
    height: 100vh;
    width: 75px;
    background: white;
    z-index: 99999;
}
/* div#admin {
display: grid;
grid-template-columns: 1fr;
place-content: center;
background: inherit;
min-height: 100vh;
} */

section{
position: relative;
}
.admin-buttons {
   
    position: absolute;
    right: 0;
    z-index: 999;
    bottom: 0;
    width: min-content;
    padding: 8px;
    background: none;
    margin: 60px;
}

div#sidebar {
background: #ffffff;
min-height: 100vh;
width: 75px;
display: grid;
place-items: center;
}
div#buttons {
display: grid;
place-content: start center;
min-height: 100vh;
gap: 5px;
background: white;
}

/* #grid-wrapper {
    box-sizing: border-box;
    font-family:inherit;
    transform: scale(1);
    transform-origin:top;
    min-height: 100vh;
    margin-bottom: 140px;
    
} */
 
/* body{
    background-color: #263238!important;
}

.grid-page {
    display: grid;
    position:relative;
    width:100vw;
    padding: 20px;
    gap:20px;
    z-index: -1;
    max-width: 1500px;
    background-color: #263238;
}
.grid-section {
	gap:20px;
}
.grid-item {
    border-radius:10px;
    overflow: hidden;
} */


/* #grid {
    box-sizing: border-box;
    display: grid;
    font-family: inherit;
    position:relative;
    width:100vw;
    
} */

/* @media screen and (max-width: 640px){
    #grid {
        padding: 0;
    }
} */

button#admin-add {
background: red;
border: none;
display: grid;
place-content: center;
width: 50px;
height: 50px;
border-radius: 50%;
color: white;
}
div#admin-footer {
display: grid;
place-content: center;
margin-top: 10px;
}
.sections {
background: none;
border: none;
padding:0;
margin:0;
}

*:focus {
outline: none;
}

/* body *{
display:grid;
font-family:inherit;

} */


.background{
z-index:-1!important;
}


/* div#content {
    display:block;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
} */

div#admin-header {
display: grid;
place-content: center;
height: 50px;
}

button#image {

position: absolute;
z-index: 99999;
display: block;
padding: 5px;
border: none;
background: #2196f3;
margin: 5px;
color: white;

}
button#update-image-url{

position: absolute;
z-index: 99999;
display: block;
padding: 5px;
border: none;
background: #2196f3;
margin: 5px;
color: white;
margin-left: 85px;
}

button#upload-image{
position: absolute;
z-index: 99999;
display: block;
padding: 5px;
border: none;
background: #2196f3;
margin: 5px;
color: white;
margin-left: 168px;
}
button#add-more {
padding: 20px;
border-radius: 50%;
height: 50px;
width: 50px;
place-content: center;
display: grid;
background: #00b0ff;
color: white;
font-size: 35px;
border: none;
margin-top: -25px;
z-index: 10;
position: relative;
}
/* #page {
    position: relative;
    transition: transform 0.5s;
    margin: 0;
    width: 100%;
    display: grid;
    place-content: start center;
} */
p#site-title a {
    color: #9d9d9d!important;
    text-underline-position: under;
}
p.site-title {
    text-align: center;
    height: 50px;
    display: grid;
    place-content: center;
    color: #989898;
    font-size: 20px;
    font-weight: 300;
    display:none;
}
#my-modal {
position: fixed;
top: 0;
left: -200px;
width: 200px;
max-width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
transition: left 0.5s;
overflow-y: scroll;
}
#my-modal.show {
left: 0;
}
#left-sidebar-fake{
display:grid;
width: 100px;
height: 100vh;
}



/* Menu */

.cssToolbar {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: auto;
height: auto;
padding: 0;
margin: 0;
z-index: 999999;
border-radius: 10px;
overflow: hidden;
box-shadow: 1px 1px 16px #8080806e;
}


p#settings-title {
background: white;
height: 35px;
place-content: center;
width: 100%;
}
div#settings {
display: grid;
grid-template-columns: repeat(8, auto);
height: 35px;
place-content: center;
place-items: center;
background:white;

}
div#settings img {
width: 15px;
display: grid;
}
button#close {
width: 35px;
height: 35px;
display: grid;
place-content: center;
}
/* textarea#all-textarea,
textarea#xl-textarea,
textarea#l-textarea,
textarea#m-textarea,
textarea#s-textarea,
textarea#xs-textarea {
border: none;
background: red;
color: white;
padding: 20px;
box-shadow: none;
height: auto;
min-height: 225px;
min-width: 275px;
white-space: pre-line !important;
list-style: disc inside !important;
font-size: medium;
line-height: 1.5; 
} */
#tree {
position: fixed;
top: 10%;
left: 10%;
width: auto;
height: auto;
padding: 0;
margin: 0;
z-index: 999999;
place-content: start;
border-radius: 10px;
overflow: hidden;
box-shadow: 1px 1px 16px #8080806e;

}
.tree-heading {
display: grid;
grid-template-columns: 35px 1fr 35px;
height: 35px;
place-content: center;
place-items: center;
}
ul.list a {
background: black;
color: white;
text-decoration: none;
padding: 5px 10px;
}
/* .active {
outline: 10px solid blue;
position: relative;
} */
ul.list {
height: 225px;
width: 225px;
overflow: scroll;
background: #373737;
gap: 1px;
}
button#tree-drag,
button#tree-close {
width: 35px;
height: 35px;
}


*[tag="section"]::before {
margin-top:0px;

}
*[tag="PICTURE"]::before {
margin-left:83px;

}
*[tag="DIV"]::before {
margin-left:-40px;

}
section > div:first-of-type::before {
position: absolute;
top:32px;
left:40px;

}
*[tag]::before {    
position: absolute;
background: yellow;
color: black;
font-weight: 600;
font-size: 16px;
padding:5px;
border-radius: 5px;
z-index: 999999999;
box-shadow: 1px 1px 2px #8080806e;
}

/* Menu */

.menu {
position: absolute;
z-index: 100;
opacity: 0;
pointer-events: none;
}
ul.menu {
display: grid;
grid-template-columns: auto auto;
gap: 1px;
background: #ffffff;
padding: 3px;
box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
li.menu-item:not(:last-child) {
border-right: 1px solid #f1f1f1;
}
.menu-item {
display: block;
position: relative;
margin: 0;
padding: 0;
white-space: nowrap;
}

.menu-btn { 
display: block;
font-size: 13px;
cursor: pointer;
}

button.menu-btn {

line-height: normal;
overflow: visible;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
width: 100%;
text-align: left;
}

a.menu-btn {
outline: 0 none;
text-decoration: none;

}

.menu-text {
margin-left: 25px;
}

.menu-btn .fa {
position: absolute;
left: 8px;
top: 50%;
transform: translateY(-50%);
}


.menu-item-disabled {
opacity: .5;
pointer-events: none;
}

.menu-item-disabled .menu-btn {
cursor: default;
}

.menu-separator {
display:block;
margin: 7px 5px;
height:1px;
}

.menu-item-submenu::after {
content: "";
position: absolute;
right: 6px;
top: 50%;
transform: translateY(-50%);
}



.menu .menu {
top: 4px;
left: 99%;
}

.menu-show,
.menu-item:hover > .menu {
opacity: 1;
transform: translate(0, 0) scale(1);
pointer-events: auto;
}

.menu-item:hover > .menu {
transition-delay: 300ms;
}

button#editor-new {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 25px;
    border-radius: 50%;
    background: blue;
    color: white;
}