
button.edit-button {
    background:#f59200;;
    width: 125px;
    height: 35px;
    border: none;
    color: white;
    border-radius: 7px;
    padding: 0 20px;
}
button.code-button {
    background: #f0f0f0;
    width: 100%;
    height: 35px;
    border: none;
    color: rgb(160 160 160);
    border-radius: 7px;
    padding: 0 20px;
}
.buttons-cta {
    display: grid;
    grid-template-columns: auto auto;
    place-content: start;
    gap: 10px;
}
button.directories-delete {
    display: none;
}

p#admin-bread-crumb {
    text-align: center;
    margin-bottom: 20px;
    color: #b0b0b0;
}

p.directories-type {
    display: none;
}

.sites-directoriesModal-content {
    padding: 20px 40px;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    display: grid;
    place-content: center;
    height:230px;

}
p.dir-title {
    font-size: 1rem;
    font-weight: 400;
}
input#pageName,
select#selectDirOrFile {
    border: 3px solid #cccccc!important;
    background: none!important;
    height: 30px!important;
    display: grid;
    width: 100%;
}
.directories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 25px;
    padding-bottom: 200px;
    place-content: center;
}
h2.directories-txt {
    background: white;
    padding-bottom: 0px;
    font-size: clamp(19px, 2vw, 24px);
    font-weight: 400;
    color: black;
}
.directories-content {
    position: relative;
    padding: 0;
    display: grid;
    gap: 1px;
    background: #e1e1e1;
}
.directories-items{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
.directories-txt{
    font-size: 14px;
    color: #909090;
    background: white;
    padding: 5px;
}
.directories-subtitle {
    grid-column: 1 / -1;
    padding: 0px 0px;
    display: flex;
    grid-gap: 20px;
    place-items: center;
}
.directories-add {
    width: 33px;
    height: 33px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.directories-cta {
    padding-top: 20px;
    background: white;
}

img.directories-icon {
    width: 100px;
    height: 100px;
}
button.directories-edit {
    background: #f59200;
    width: 100%;
    height: 35px;
    border: none;
    color: white;
    border-radius: 7px;
    min-width: 125px;
    /* margin-top:20px; */
}
button.dir-button {
    background: blue;
    width: 100%;
    height: 35px;
    border: none;
    color: white;
    border-radius: 7px;
    max-width: 125px;
    /* margin-top:20px; */
}
button.directories-delete {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    margin: 10px;
    padding: 7px;
    box-sizing: border-box;
    width: 35px;
    height:35px;
    border-radius: 50%;
    border:none;
    z-index: 999;
    color:white;
}
p.directories-name {
    font-size: 14px;
    color: #909090;
    background: white;
    padding: 5px;
}
.directories-modal-content, 
.directories-modal-header {
    display: grid;
    padding: 20px;
    gap: 20px;
}
.directories-modal-header {
    text-align: center;
    font-size: 30px;
}
/* .directories-modal-content input {
    border: 1px solid #c6c6c6;
    height: 35px;
    padding:10px;
} */
button#createRepoButton {
    height: 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
div#deleteBox {
    position: fixed;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.deleteContent {
    padding: 35px;
    background: #f2f2f2;
    display: grid;
    grid-template-columns: 250px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
form#btnBox {
    display: grid;
    gap: 0px;
}
input#fileInput {
    padding: 10px;
    border: none;
}
span#fileName {
    font-weight: 600;
    color: #F44336;
    text-decoration: underline;
    text-underline-position: under;
}
a.files-add {
    display: none;
}

/* directoriesModalOverlayCss */
#directoriesModalOverlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  /* directoriesModalContentCss */
  #directoriesModalContent {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 999999;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* directoriesModalHeaderCss */
  .sites-directoriesModal-header {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
    height: 50px;
    place-content: center;
    background: white;
    border-bottom: 1px solid #dddddd;
    display: grid;
  }
  span.close img {
    filter: invert(1);
}
  
  /* directoriesModalButtonCss */
  #createNewButton {
    border-radius: 10px!important;
    color: black!important;
    background: white!important;
    border: 3px solid #cccccc!important;
    padding: 10px!important;
    display: grid;
    width: 100%;
    height: 40px;
  }
  
  /* directoriesModalCloseCss */
  .sites-directoriesModal-header .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 10px;
    height: 50px!important;
  }
  