


input#image-all-input {
    position: absolute;
    top: 100px;
    display: block;
    margin: 15px;
}


input#image-all-input,
button#image-btn-all,
button#image-btn-m,
button#image-btn-xs{
    display:none;
}

p#image-single-id,
p#image-single-type{
    display:block;
}


/*MODAL*/
button#image-sidebar-show-button,
button#image-sidebar-clean-button 
{
    display: none;
}

.image-selected{
    background:blue!important;
}
.image-selected img{
    filter: invert(1)!important;
}
.image-unselected{
    background:white!important;
}

/******************/
/* IMAGE FG */
/******************/



#image-all,
#image-xs,
#image-s,
#image-m,
#image-l,
#image-xl
{
    height: 280px;
    width: 280px;
    object-fit: cover;
    background: black;
    position:absolute;
    
}

#image-all-thumbnail,
#image-xs-thumbnail,
#image-s-thumbnail,
#image-m-thumbnail,
#image-l-thumbnail ,
#image-xl-thumbnail
{
    height: 280px;
    width: 280px;
    object-fit: cover;
    background: black;
    
}

#image-all-input,
#image-xs-input,
#image-s-input,
#image-m-input,
#image-l-input,
#image-xl-input
{
    height: 35px;
    border: none;
    background: #ffffff;
    padding: 15px;
    display: none;
}
#image-all-save,
#image-xs-save,
#image-s-save,
#image-m-save,
#image-l-save,
#image-xl-save{
    background: #2196f3;
    color: white;
    display: none;
}


#image-drag,
#image-modal-search {
    width: 35px;
    padding: 6px;
}



button#image-clean {
    position: absolute;
    left: 10px;
    bottom: 50px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/*SIDEBAR*/

#image-sidebar {
    width: 100vw;
    height: 20vh;
    position: fixed;
    bottom: -20vh;
    left: 0px;
    background-color: #f4f4f4;
    z-index: 9999;
    min-height: 135px;

}
.image-sidebar-items img {
    display: grid;
    object-fit: cover;
    height: 70px;
    object-position: left;
    width: 120px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    border-radius:13px;
}
#image-sidebar-grid {
    padding: 2%;
    display: grid;
    height: calc(20vh - 35px);
    grid-gap: 0 20px;
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    width: 100vw;
    place-content: center start;
    min-height: 100px;
    overflow: auto;
}

#image-sidebar-search {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    background: white;
    height: 35px;
    overflow: hidden;
    place-content: center;
    grid-template-columns: auto auto auto;
    gap: 5px;
}
.image-sidebar-search{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #cdcdcd;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
    overflow: hidden;
    gap: 1px;
    /* padding: 0 1rem; */
}
.image-sidebar-search img{
    max-width: 20px;
}
.image-sidebar-search button {
    max-height: 35px;
    padding: 0;
}

#image-sidebar-search-input {
    border: none;
    padding: 0 25px;
    background: white;
    height: 35px;
    width: 100%;

}

#image-sidebar-search-button {
    width: 40px;
}
#image-sidebar-total,
#image-sidebar-subtotal {
    font-size: 12px;
    display: none;
}

  
.image-sidebar-items{ 
    position:relative;
    overflow: hidden;
    background:white;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
.image-sidebar-alt {
    display: none;
    margin: 10px;
    font-size: small;
    color: grey;
}
#image-sidebar-next-div {
    display: grid;
    place-content: center;
}
#image-sidebar-next-button {
    height: 50px;
    width: 50px;
    font-size: 1rem;

}

#image-sidebar-settings {
    display: grid;
    grid-template-columns: 75px 75px auto;
    display:none;
}
#image-sidebar-settings select,
#image-sidebar-settings input {
    border: none;
    padding: 5%;
    text-align: center;
    color: #cbcbcb;
    font-family: system-ui;
}
#p-width,
#p-height
{
    display: grid;
    place-content: center;
}



button#image-btn-all {
    position: absolute;
    right: 10px;
    bottom: 150px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
button#image-btn-m {
    position: absolute;
    right: 10px;
    bottom: 100px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
button#image-btn-xs {
    position: absolute;
    right: 10px;
    bottom: 50px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
button#image-btn-xs-clear {
    position: absolute;
    right: 60px;
    bottom: 50px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* display: none; */
}
button#image-btn-m-clear {
    position: absolute;
    right: 60px;
    bottom: 100px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}